.withdraw-container {
    display: flex;
}

.input-item,
.input-price {
    padding: 0.5rem 1rem;
}

.withdraw-btn {
    background-color: #DBFCFF;
    border: none;
    padding: 0.6rem 1rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.withdraw-btn:hover {
    background-color: #636363;
    color: white;
}

@media screen and (max-width: 562px) {

    .input-item,
    .input-price,
    .withdraw-btn {
        padding: 0rem 0rem;
    }


}